header {
  height: 37px;
  .header-content {
    margin-top: 7px;
    margin-right: 20px;
    margin-left: auto;
    display: flex;
    width: 200px;
    .header-button {
      width: 105px;
      border: solid 1px #123247;
      border-radius: 5px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      a {
        color: #123247;
        text-decoration: none;
      }
    }
  }
}

#background {
  background-color: #EFAF89;
  height: 100vh;
}

.top-content {
  position: relative;
  height: 100vh;
  background-color: #EFAF89;
  .top-image {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    text-align: center;/*一応BOX内の文字も中央寄せ*/
  }
  .top-button {
    position: absolute;
    height: 36px;
    width: 171px;
    background: #123247;
    top: 58%;
    left: 43.5%;
    border: 1px solid #123247;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
    a {
      color: #ffffff;
      display: block;
      text-decoration: none;
    }
  }
  .signin-button {
    position: absolute;
    height: 36px;
    width: 171px;
    background: #EEAF89;
    top: 66%;
    left: 43.5%;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
    a {
      color: #ffffff;
      display: block;
      text-decoration: none;
    }
  }
}
